[submodule "Marlin"]
	path = Marlin
	url = https://github.com/MarlinFirmware/Marlin.git
[submodule "Configurations"]
	path = Configurations
	url = https://github.com/MarlinFirmware/Configurations.git
